<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN FORM</title>
</head>
<body>
    <h1>LOGIN FORM</h1>
    <form action="http://localhost:8888/loginform" method="POST">
        NAME: <input type="text" name="name"><br>
        USERNAME: <input type="text" name="username"><br>
        PASSWORD: <input type="password" name="password"><br>
        <input type="submit" value="Submit">

    </form>
</body>
</html>